.form-request{
	form{
		input[type=submit]{
				font-size:14px !important;
			}
	}
}
.visualize{
	background:url("../img/img-visualize-pt.png") right 50px no-repeat !important;
	height:600px;
}
.understand{
	background: url("../img/img-understand-pt.gif") right 50px no-repeat !important;
	height:600px;
}