
/* #Tablet (Portrait)
================================================== */   

/* Menor que 1024 */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	h1{
		font-size:26px;
	}
	h2{
		font-size: 34px;
    	line-height: 34px;
	}
	.wrap{
		width: 959px;
		max-width: 98%;
	}
	.atv{
		background: url("../img/assets/bt-orange-atv.png") center top no-repeat !important;
	}
	#the-tile{
		.visualize {
		    background: url("../img/img-visualize.png") no-repeat scroll center 300px transparent;
		    height: 800px;
		}
		.understand{
			height:800px;
			background: url("../img/img-understand.gif") no-repeat scroll center 360px transparent;
		}
		.content-left{
			width:98% !important;
		}
	}
	
	#banner{
		.form-request{
			margin-top:129px;
			form input[type="text"]{
				width:130px ;
			}
			form input[type="submit"]{
				width:175px;
				font-size:16px;
			}
		}
	}
	.nav-slide{
		font-size:18px;
	}
	#behavior{
		
		.slide {
			
			h2{
				font-size:34px;
			}
			h3{
				font-size: 26px;
			}
		}
		.mosaic {
		    background: url("../img/img-mosaic-ipad.png") no-repeat scroll 20px 70px transparent !important;
		}
		.peer{
			background: url("../img/img-peer-ipad.png") no-repeat scroll 0 30px transparent !important;
		}
		.recommendations{
			background: url("../img/img-recommendations-ipad.png") no-repeat scroll 0 90px transparent !important;
		}

	}
	#dynamic{
		background: url("../img/img-dynamic-ipad.png") no-repeat scroll right 20px transparent !important;
	}
	.bg-location{
		background: url("../img/bg-location-ipad.png") no-repeat 0 132px !important;
	}
	#tech {
		ul{
			width:75%;
		}
		.content-left{
			margin-right: 35px;
			width:45%;
		}
	}
	.footer{
		.form-request{
			h2{
				font-size:25px;	
			}
			form{
				input[type="text"]{
					width:140px;
				}
				input[type="submit"]{
					width: 150px;
					font-size:16px;
				}
			}
		}
		footer{
			font-size:12px;
			.address{
				width:42%;
			}
			.copy{
				width:52%;
			}
		}
	}

}    
    
/*  #Mobile (Portrait) 
================================================== */
    
/* Iphone 3gs- na vertical 320px */
    
@media only screen and (max-width: 767px) {
    h1{
		font-size:24px;
	}
	h2{
		font-size: 20px;
    	line-height: 24px;
	}
	.wrap{
		width: 480px;
		max-width: 98%;
	}
	header{
		min-height:auto !important;
		height:auto;
		#logo{
			margin:15px auto 30px !important;
			float:none !important;
		}
	}
	.nav-header{
		display:none !important;
	}
	.nav-mobile{
		display:block !important;
	}
	.atv{
		background: url("../img/assets/bt-orange-atv.png") center top no-repeat !important;
	}
	.visualize{
		height:570px;
	}
	.understand{
		height:590px;
	}
	#banner{
		h2{
			font-size:26px;
		}
		h3{
			font-size:18px;
			line-height: 22px;
		}
		.load-video{
			margin:30px auto !important;
		}
		.form-request{
			height:224px;
			margin-top:0px;
			
			h2{
				font-size:24px;
			}

			form input[type="text"]{
				width:245px ;
				float:none !important;
				margin:0 auto 5px;
			}
			form input[type="submit"]{
				font-size: 20px;
    			width: 265px;
    			float:none !important;
				margin:0 auto 5px;
			}
		}
	}
	.content-left{
		display: block;
	    float: left;
	    margin: 20px 1% 0;
	    width: 98%;
	}
	.content-right{
		width: 98%;
		margin:20px 1%;
	}
	.nav-slide{
		li{
			font-family: Arial;
			font-size:11px;
			padding:40px 0 0;
		}
	}
	#behavior{

		.recommendations, .peer, .mosaic{
			background:none !important;
		}
		.mosaic, .peer, .recommendations{
			height:520px;
		}
		.slide {
			h2{
				font-size:34px;
			}
			h3{
				font-size: 26px;
			}
		}
	}
	#the-tile{
		min-height:auto;
		h2 {
		    font-size: 34px;
		    line-height: 34px;
		}
		height:450px;
		.visualize, .understand{
			background:none !important;
		}
	}
	#dynamic{
		min-height:480px;
		background:none !important;
	}
	.bg-location{
		display: none !important;
	}
	#location{
		min-height:290px !important;
	}
	#tech {
		ul{
			width:100%;
		}
		.content-left{
			width:98%;
			margin:15px 1%;
		}
	}
	.footer{
		.form-request{
			height:224px;
			margin-top:0px;
			
			h2{
				font-size:24px;
			}

			form input[type="text"]{
				width:245px ;
				margin:0 auto 5px;
				float:none !important;
			}
			form input[type="submit"]{
				font-size: 20px;
    			width: 265px;
				float:none !important;
				margin:0 auto 5px;
			}
			h2{
				font-size:25px;	
			}
		}
		footer{
			font-size:12px;
			.address{
				width:100%;
				height:30px;
				margin:15px auto 10px;
				float:none !important;
				text-align:center;
			}
			.copy{
				width:100%;
				margin:15px auto 0;
				float:none !important;
				text-align:center;
			}
			.social{
				margin:15px auto;
				float:none !important;
			}
			.map-site{
				margin-bottom:10px;
			}
		}
	}
}    
    
    
/* #Mobile (Landscape)
================================================== */

/* Iphone 3gs- na horizontal 480px */
    
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1{
		font-size:24px;
	}
	h2{
		font-size: 20px;
    	line-height: 24px;
	}
	.wrap{
		width: 480px;
		max-width: 98%;
	}
	header{
		min-height:140px !important;
		#logo{
			margin:15px auto 30px !important;
			float:none !important;
		}
	}
	.nav-header{
		display:none !important;
	}
	.nav-mobile{
		display:block !important;
	}
	.atv{
		background: url("../img/assets/bt-orange-atv.png") center top no-repeat !important;
	}
	.visualize{
		height:570px;
	}
	.understand{
		height:590px;
	}
	#banner{
		h2{
			font-size:26px;
		}
		h3{
			font-size:18px;
			line-height: 22px;
		}
		.load-video{
			margin:30px auto !important;
		}
		.form-request{
			height:224px;
			margin-top:0px;
			
			h2{
				font-size:24px;
			}

			form input[type="text"]{
				width:245px ;
				float:none !important;
				margin:0 auto 5px;
			}
			form input[type="submit"]{
				font-size: 20px;
    			width: 265px;
    			float:none !important;
				margin:0 auto 5px;
			}
		}
	}
	.content-left{
		display: block;
	    float: left;
	    margin: 20px 1% 0;
	    width: 98%;
	}
	.content-right{
		width: 98%;
		margin:20px 1%;
	}
	.nav-slide{
		li{
			font-family: Arial;
			font-size:11px;
			padding:40px 0 0;
		}
	}
	#behavior{

		.recommendations, .peer, .mosaic{
			background:none !important;
		}
		.mosaic, .peer, .recommendations{
			height:520px;
		}
		.slide {
			h2{
				font-size:34px;
			}
			h3{
				font-size: 26px;
			}
		}
	}
	#the-tile{
		min-height:auto;
		h2 {
		    font-size: 34px;
		    line-height: 34px;
		}
		height:450px;
		.visualize, .understand{
			background:none !important;
		}
	}
	#dynamic{
		min-height:480px;
		background:none !important;
	}
	.bg-location{
		display: none !important;
	}
	#location{
		min-height:290px !important;
	}
	#tech {
		ul{
			width:100%;
		}
		.content-left{
			width:98%;
			margin:15px 1%;
		}
	}
	.footer{
		.form-request{
			height:224px;
			margin-top:0px;
			
			h2{
				font-size:24px;
			}

			form input[type="text"]{
				width:245px ;
				margin:0 auto 5px;
				float:none !important;
			}
			form input[type="submit"]{
				font-size: 20px;
    			width: 265px;
				float:none !important;
				margin:0 auto 5px;
			}
			h2{
				font-size:25px;	
			}
		}
		footer{
			font-size:12px;
			.address{
				width:100%;
				height:30px;
				margin:15px auto 10px;
				float:none !important;
				text-align:center;
			}
			.copy{
				width:100%;
				margin:15px auto 0;
				float:none !important;
				text-align:center;
			}
			.social{
				margin:15px auto;
				float:none !important;
			}
			.map-site{
				margin-bottom:10px;
			}
		}
	}
}